@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,700&family=Source+Sans+Pro&display=swap');

:root {
    --color-primario: rgba(205, 21, 21, 0.29);
    --color-secundario: rgba(237, 234, 234, 0.89);
    --color-boton-principal: #FFBD59;
}


body {
    background-color: var(--color-primario);
}

/*Cajas principales y secundarias*/
.boxFirst {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.boxInput {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*Personalizacion*/

.imgSZ {
    width: 350px;
    /*Imagen(LOGO) principal*/
}

/*Link de pagina registrate*/

.registerLink {
    margin-top: 20px;
    text-align: center;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-family: roboto;
}
/*Boton de Registro*/
.botonRegistro {
    margin-top: 15px;
    text-align: center;
    width: 250px;
    height: 45px;
    background-color: #5CE1E6;
    border-radius: 10px;
    font-size: 16px;
}

/*Modificacion de los inputos de registro*/

input[type="password" i] {
    width: 350px;
    height: 35px;
    border: none;
    border-radius: 15px;
    margin-bottom: 20px;
    text-align: center;
}

input[type="email" i] {
    width: 350px;
    height: 35px;
    border: none;
    border-radius: 15px;
    margin-bottom: 20px;
    text-align: center;
}


button {
    width: 250px;
    height: 35px;
    border-radius: 10px;
    border: none;
    background-color: var(--color-boton-principal);
    color: white;
    font-family: roboto;
    font-size: 16px;
    cursor: pointer;
}

.claseX{
    float: right;
    width: 8%;
    height: 8%;
    border-radius: 50%;
    text-decoration: none;
    text-align: center;
    background-color: var(--color-boton-principal);
}

.container-MD {
    width: 350px;
    height: 350px;
    border-radius: 25px;
    border: none;
    background-color: var(--color-secundario);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 24px;
    font-family: 'Source Sans Pro', sans-serif;
}

/*Animacion de Modal y Edicion*/
.registerLinkMD {
    margin-top: 20px;
    text-align: center;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-family: roboto;
}

.iconoMD {
    border-radius: 50%;
    background: var(--color-primario);
    margin: auto;
    width: 100px;
    height: 100px;
    animation-duration: 5s;
    animation-name: twinkle;
    animation-iteration-count: infinite;
}

@keyframes twinkle {
    20% {
        transform: scale(0.5);
        opacity: 0.5;
    }
}


.animacionLogo {
    -webkit-animation: animacionLogo 15s linear both;
    animation: animacionLogo 15s linear both;
    animation-iteration-count: infinite;
}
/*Animacion logo-1*/
@-webkit-keyframes animacionLogo {
    0% {
        -webkit-transform: rotate3d(1, 1, 0, 0deg);
        transform: rotate3d(1, 1, 0, 0deg);
    }

    50% {
        -webkit-transform: rotate3d(1, 1, 0, -180deg);
        transform: rotate3d(1, 1, 0, -180deg);
    }

    100% {
        -webkit-transform: rotate3d(1, 1, 0, -360deg);
        transform: rotate3d(1, 1, 0, -360deg);
    }
}

@keyframes animacionLogo {
    0% {
        -webkit-transform: rotate3d(1, 1, 0, 0deg);
        transform: rotate3d(1, 1, 0, 0deg);
    }

    50% {
        -webkit-transform: rotate3d(1, 1, 0, -180deg);
        transform: rotate3d(1, 1, 0, -180deg);
    }

    100% {
        -webkit-transform: rotate3d(1, 1, 0, -360deg);
        transform: rotate3d(1, 1, 0, -360deg);
    }
}

/*Media queries*/

@media screen and (max-width: 1025px) {
    .boxFirst {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .boxInput {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .Titulo {
        display: none;
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (min-width:1025px) {
    .boxFirst {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 450px;
        height: 450px;
        background-color: white;
        border-radius: 15px;
    }

    .boxInput {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .boxIMG {
        display: flex;
        flex-direction: column;
        align-items: center
    }

    body {
        display: flex;
        justify-content: center;
        min-height: 100vh;
        overflow: hidden;
    }

    .botonRegistro {
        margin-top: 15px;
        text-align: center;
        width: 250px;
        height: 45px;
        background-color: #5CE1E6;
        border-radius: 10px;
        font-size: 16px;
    }

    form {
        display: flex;
        align-items: center;
    }

    .Titulo {
        display: block;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 28px;
        font-weight: normal;
        line-height: 32px;
        width: 550px;
        padding: 20px;
        margin-top: -55px;
    }

    input[type="password" i] {
        border: black 2px solid;
    }

    input[type="email" i] {
        border: black 2px solid;
    }

}